extends layout

block content
  h1 Collecting sticks 2

  p Sprites come from the internet. I downloaded them from:

  ul
    // li #[a(href='') Remilia]
    li #[a(href='http://milonar.deviantart.com/art/Homework-2-Milonar-Sprite-Ver-2-288702092') Milonar]
    li #[a(href='http://kangeburu.deviantart.com/art/Wesker-sprite-280875235') Wesker]
    li #[a(href='http://funkypencil.deviantart.com/#/d37g1o6') FunkyPencil]
    li #[a(href='http://www.rpgrevolution.com/forums/lofiversion/index.php/t20925-300.html') Remilia2]
    li #[a(href='http://facepunch.com/showthread.php?t=932844') Asuka]
    li #[a(href='https://rmxp.tumblr.com/post/49464094876/breaking-it-down-sprites') Aluxes]
    li #[a(href='https://www.hiclipart.com/free-transparent-background-png-clipart-vwxkh') Maylene]
