extends layout

block head
  script(src='/scripts/consts.js')
  script(src='/scripts/game.js')
  script(src='/scripts/player.js')
  script(src='/scripts/stick.js')

block content
  script(type='text/javascript').
    var uri = 'ws' + (document.location.protocol === 'https:'? 's': '')
      + '://' + document.location.host;// + '/' + document.location.pathname.substring(6);

    var game = new Game(uri);

    var message;

    document.addEventListener( "DOMContentLoaded", function() {

      game.launch( "canvas", "status" );

      message = document.getElementById("message");
      message.addEventListener( "keyup", function( e ) {
        if( e.keyCode === 13 ) {
          // XXX game.say? should send the message through ws
          game.say( e.target.value );
          e.target.value = '';
          e.target.blur();
        }
      }, false);

    }, false );

    // Player input: http://www.lostdecadegames.com/how-to-make-a-simple-html5-canvas-game/
    // var writing = false; // Chat coming soon.
    function keyChange( event ) {
      var key = event.keyCode;
      if( key === 13 ) {
        message.focus();
      }
      if( key < 37 || key > 40 )
        return;
      var direction = key - 37;
      game.keys[direction] = ( event.type === "keydown" );
      game.you.stopAutopilot();
      event.preventDefault();
    }

    window.addEventListener( "keydown", keyChange, false );
    window.addEventListener( "keyup", keyChange, false );


  style(type='text/css').
    #status {
      height: 100px;
    }

  h1 Collecting sticks 2

  .mx-auto(style='width: ' + c.BOARD_WIDTH + 'px')
    canvas#canvas(width=c.BOARD_WIDTH, height=c.BOARD_HEIGHT)
      p This browser doesn't support canvas tag. Visit this page in another browser.

    noscript
      p You won't play withought JS enabled

    div.d-flex
      input#message.flex-grow-1.form-control(type='text', autocomplete='off', maxlength=c.FORM_MESSAGE_LENGTH)
      button.btn.btn-primary Send

  p.
    Simple collecting game. The sprites come from the internet.

  pre#status.overflow-auto.border.border-black.px-1 Page loaded.
