extends layout

block head
  script(src='/scripts/consts.js')
  script(src='/scripts/game.js')
  script(src='/scripts/player.js')
  script(src='/scripts/stick.js')

block content
  script(type='text/javascript').
    // For testing purpose.
    var clientTest = {
      connect: function(){
        return {
          on: function( event, done ) {
            // var doneee = function(){};
            console.log( "client watching and got:", event );
            data = {
              init: {
                files: {
                  players: [ "Remilia", "Remilia2", "Asuka", "FunkyPencil", "Milonar", "Wesker" ],
                  backgrounds: [ "Grass" ],
                  items: [ "Sticks" ]
                },
                player: {
                  model: "Wesker",
                  x: 512 / 2 - 32 / 2,
                  y: 384 / 2 - 32 / 2 + 16,
                  points: 0
                }
              },
              data: {
                Remilia: { x: 100, y: 100, message: "Remilia!" }
              },
              join: {
                Wesker: { x: 200, y: 200 }
              }
            };
            done( data[event] );
          },
          emit: function( event, data ) {
            console.log( "client sent:", data );
          },
          fake: true
        };
      }
    };
    var io = io? io: clientTest;

    var uri = 'ws' + (document.location.protocol === 'https:'? 's': '')
      + '://' + document.location.host;// + '/' + document.location.pathname.substring(6);

    var game = new Game(uri);

    document.addEventListener( "DOMContentLoaded", function() {

      game.launch( "canvas", "status" );

    }, false );

    // Player input: http://www.lostdecadegames.com/how-to-make-a-simple-html5-canvas-game/
    // var writing = false; // Chat coming soon.
    function keyChange( event ) {
      var key = event.keyCode;// || event.which || window.event;
      if( key < 37 || key > 40 )
        return;
      var direction = key - 37;
      game.keys[direction] = ( event.type === "keydown" );
      event.preventDefault();
    }

    window.addEventListener( "keydown", keyChange, false );
    window.addEventListener( "keyup", keyChange, false );


  style(type='text/css').
    #status {
      height: 100px;
    }

  h1 Collecting sticks 2

  .text-center
    canvas#canvas(width=512, height=384)
      p This browser doesn't support canvas tag. Visit this page in another browser.

    noscript
      p You won't play withought JS enabled

  p.
    Simple collecting game. The sprites come from the internet.

  pre#status.overflow-auto.border.border-black.px-1 Page loaded.
