doctype html
html(lang="en")

  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='icon', type='image/x-icon', href='/favicon.ico')
    meta(charset='utf-8')
    meta(name='author', content='Patryk Hachuła')
    meta(name='description', content='Collecting sticks game')
    meta(name='keywords', content='html5,experiment,javascript,game,collecting,sticks,touhou,remilia,scarlet')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block head

  body
    div#container.container
      block content
